# project structure
.vs
/thirdparty/Python
/src/Feature/pyscripts
**/x64
debug.log
*.docx
*.bmp

# weights file
/src/Feature/GlobalFeature/vgg16-397923af.pth
/src/Feature/GlobalFeature/PCA_dims32768to2048.model
/src/Feature/GlobalFeature/VGG16_NetVlad_NoSplit.pth.tar
/src/Feature/GlobalFeature/VGG16_64_desc_cen.hdf5
/src/Feature/GlobalFeature/doppelgangers/weights/doppelgangers_classifier_loftr.pt
/src/Feature/GlobalFeature/doppelgangers/weights/outdoor_ds.ckpt

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc


src\Estimator\x64\Debug\Estimator.obj 
src\Estimator\x64\Release\Estimator.obj 
src\Feature\x64\Release\FeatureMatcher.obj 
src\Geometry\x64\Debug\EssentialMatrix.obj 
src\Geometry\x64\Debug\Pose.obj 
src\Geometry\x64\Debug\Triangulation.obj 
src\Geometry\x64\Release\EssentialMatrix.obj 
src\Geometry\x64\Release\HomographyMatrix.obj 
src\Geometry\x64\Release\Pose.obj 
src\Geometry\x64\Release\Triangulation.obj 
src\Scene\x64\Release\Database.obj 
src\Scene\x64\Release\Model.obj 
src\Scene\x64\Release\TwoViewGeometry.obj 
Test\TestBase\x64\Debug\TestBase.ilk 
Test\TestBase\x64\Debug\TestBase.obj 
Test\TestBase\x64\Debug\vc143.pdb 
Test\TestBase\x64\Release\TestBase.iobj 
Test\TestBase\x64\Release\TestBase.ipdb 
Test\TestBase\x64\Release\TestBase.obj 
Test\TestBase\x64\Release\vc143.pdb 
Test\TestEstimator\x64\Debug\TestEstimator.ilk 
Test\TestEstimator\x64\Debug\TestEstimator.obj 
Test\TestEstimator\x64\Debug\vc143.pdb 
Test\TestEstimator\x64\Release\TestEstimator.iobj 
Test\TestEstimator\x64\Release\TestEstimator.ipdb 
Test\TestFeature\10GPUTwoViewGeometry.bmp 
Test\TestFeature\1111.bmp 
Test\TestFeature\11GuideMatch_GPU.bmp 
Test\TestFeature\1OpenCV_CPU_3819.bmp 
Test\TestFeature\2VLFeat_CPU_6996.bmp 
Test\TestFeature\3Colmap_CPU_8700.bmp 
Test\TestFeature\4SIFTGPU_GPU_453.bmp 
Test\TestFeature\5Colmap_GPU_720.bmp 
Test\TestFeature\6matches.bmp 
Test\TestFeature\7twoViewGeometry.bmp 
Test\TestFeature\8guideMatch.bmp 
Test\TestFeature\9gpuMatch.bmp 
Test\TestFeature\output.bmp 
Test\TestFeature\x64\Debug\TestFeature.ilk 
Test\TestFeature\x64\Release\TestFeature.iobj 
Test\TestFeature\x64\Release\TestFeature.obj 
Test\TestGeometry\x64\Debug\TestGeometry.ilk 
Test\TestGeometry\x64\Debug\TestGeometry.obj 
Test\TestGeometry\x64\Debug\vc143.pdb 
Test\TestScene\x64\Debug\TestScene.ilk 
Test\TestScene\x64\Release\TestScene.iobj 
Test\TestScene\x64\Release\TestScene.ipdb 
Test\TestUI\x64\Debug\vc143.pdb 
Test\TestWorkflow\12.bmp 
Test\TestWorkflow\34.bmp 
Test\TestWorkflow\35.bmp 
Test\TestWorkflow\45.bmp 
Test\TestWorkflow\x64\Debug\TestWorkflow.ilk 
Test\TestWorkflow\x64\Release\TestWorkflow.iobj 
Test\TestWorkflow\x64\Release\TestWorkflow.ipdb 
x64\Debug\Base.lib 
x64\Debug\Estimator.lib 
x64\Debug\Estimator.pdb 
x64\Debug\Feature.lib 
x64\Debug\Feature.pdb 
x64\Debug\Geometry.lib 
x64\Debug\Geometry.pdb 
x64\Debug\mkl_avx.2.dll 
x64\Debug\mkl_avx2.2.dll 
x64\Debug\mkl_avx512.2.dll 
x64\Debug\mkl_core.2.dll 
x64\Debug\mkl_def.2.dll 
x64\Debug\mkl_intel_thread.2.dll 
x64\Debug\mkl_mc.2.dll 
x64\Debug\mkl_mc3.2.dll 
x64\Debug\mkl_pgi_thread.2.dll 
x64\Debug\mkl_rt.2.dll 
x64\Debug\mkl_sequential.2.dll 
x64\Debug\mkl_sycl.3.dll 
x64\Debug\mkl_sycld.3.dll 
x64\Debug\mkl_tbb_thread.2.dll 
x64\Debug\mkl_tbb_threadd.2.dll 
x64\Debug\mkl_vml_avx.2.dll 
x64\Debug\mkl_vml_avx2.2.dll 
x64\Debug\mkl_vml_avx512.2.dll 
x64\Debug\mkl_vml_mc.2.dll 
x64\Debug\mkl_vml_mc3.2.dll 
x64\Debug\opencv_core3d.dll 
x64\Debug\opencv_imgproc3d.dll 
x64\Debug\Qt5Cored.dll 
x64\Debug\Qt5Guid.dll 
x64\Debug\Qt5Widgetsd.dll 
x64\Debug\Scene.lib 
x64\Debug\Scene.pdb 
x64\Debug\TestBase.pdb 
x64\Debug\TestEstimator.exe 
x64\Debug\TestEstimator.pdb 
x64\Debug\TestFeature.exe 
x64\Debug\TestFeature.pdb 
x64\Debug\TestGeometry.exe 
x64\Debug\TestGeometry.pdb 
x64\Debug\TestScene.exe 
x64\Debug\TestScene.pdb 
x64\Debug\TestUI.exe 
x64\Debug\TestUI.ilk 
x64\Debug\TestUI.pdb 
x64\Debug\TestWorkflow.exe 
x64\Debug\TestWorkflow.pdb 
x64\Debug\UI.lib 
x64\Debug\UI.pdb 
x64\Debug\Workflow.lib 
x64\Release\Base.lib 
x64\Release\Estimator.lib 
x64\Release\Estimator.pdb 
x64\Release\Feature.lib 
x64\Release\Feature.pdb 
x64\Release\Geometry.lib 
x64\Release\Geometry.pdb 
x64\Release\mkl_avx.2.dll 
x64\Release\mkl_avx2.2.dll 
x64\Release\mkl_avx512.2.dll 
x64\Release\mkl_core.2.dll 
x64\Release\mkl_def.2.dll 
x64\Release\mkl_intel_thread.2.dll 
x64\Release\mkl_mc.2.dll 
x64\Release\mkl_mc3.2.dll 
x64\Release\mkl_pgi_thread.2.dll 
x64\Release\mkl_rt.2.dll 
x64\Release\mkl_sequential.2.dll 
x64\Release\mkl_sycl.3.dll 
x64\Release\mkl_sycld.3.dll 
x64\Release\mkl_tbb_thread.2.dll 
x64\Release\mkl_tbb_threadd.2.dll 
x64\Release\mkl_vml_avx.2.dll 
x64\Release\mkl_vml_avx2.2.dll 
x64\Release\mkl_vml_avx512.2.dll 
x64\Release\mkl_vml_mc.2.dll 
x64\Release\mkl_vml_mc3.2.dll 
x64\Release\opencv_core3.dll 
x64\Release\Scene.lib 
x64\Release\Scene.pdb 
x64\Release\SIFT_GPU.lib 
x64\Release\TestBase.pdb 
x64\Release\TestEstimator.pdb 
x64\Release\TestScene.pdb 
x64\Release\TestWorkflow.pdb 
x64\Release\Workflow.lib 
.vs\On_the_fly_SfM\v17\Browse.VC.db 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\22a5e2d674162aee\EXCEPTION.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\2e6918dd5102fc1b\PYLOADER.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\39bcac53ba4200b9\TWOVIEWGEOMETRY.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\3bf6ec6be5e1de30\MAIN.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\4581aa669fee16e6\IMAGELISTWIDGET.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\494d3ef2e89973c1\RECONSTRUCTOR.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\5f9dc0ffa6899aac\PYLOADER.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\8d16901c83ee7167\FEATUREMATCHER.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\9f42260791570f45\MAIN.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\b2bbd2ec71b33a95\RECEIVER.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\cbd90af8710960ed\FEATUREEXTRACTOR.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\eb25276b78c0b10a\FEATUREEXTRACTOR.ipch 
.vs\On_the_fly_SfM\v17\ipch\AutoPCH\edbc4061232b348\DATABASECACHE.ipch 
src\Base\x64\Debug\Math.obj 
src\Base\x64\Release\math.obj 
src\Estimator\x64\Debug\BundleAdjustment.obj 
src\Estimator\x64\Debug\EssentialMatrix.obj 
src\Estimator\x64\Debug\Estimator.obj 
src\Estimator\x64\Debug\FundamentalMatrix.obj 
src\Estimator\x64\Debug\HomographyMatrix.obj 
src\Estimator\x64\Release\BundleAdjustment.obj 
src\Estimator\x64\Release\EssentialMatrix.obj 
src\Estimator\x64\Release\FundamentalMatrix.obj 
src\Estimator\x64\Release\HomographyMatrix.obj 
src\Estimator\x64\Release\IncrementalMapper.obj 
src\Estimator\x64\Release\IncrementalTriangulator.obj 
src\Feature\GlobalFeature.zip 
src\Feature\GlobalFeature\PCA_dims32768to2048.model 
src\Feature\GlobalFeature\vgg16-397923af.pth 
src\Feature\GlobalFeature\VGG16_64_desc_cen.hdf5 
src\Feature\GlobalFeature\VGG16_NetVlad_NoSplit.pth.tar 
src\Feature\x64\Release\FeatureMatcher.obj 
src\Geometry\x64\Debug\EssentialMatrix.obj 
src\Geometry\x64\Debug\Pose.obj 
src\Geometry\x64\Debug\Triangulation.obj 
src\Geometry\x64\Release\Pose.obj 
src\Geometry\x64\Release\Triangulation.obj 
src\Geometry\x64\Release\TwoViewGeometry.obj 
src\Scene\x64\Debug\Reconstruction.obj 
src\Scene\x64\Release\Camera.obj 
src\Scene\x64\Release\CorrespondenceGraph.obj 
src\Scene\x64\Release\DatabaseCache.obj 
src\Scene\x64\Release\Image.obj 
src\Scene\x64\Release\Projection.obj 
src\Scene\x64\Release\Reconstruction.obj 
src\UI\1.db 
src\UI\match_matrix.bmp 
src\UI\images\correspondences.h5 
src\UI\images\keypoints.h5 
src\UI\models\1\bin\images.bin 
src\UI\x64\Debug\vc143.pdb 
src\UI\x64\Release\main.obj 
src\UI\x64\Release\MainWindow.obj 
src\UI\x64\Release\moc_MainWindow.obj 
src\UI\x64\Release\ModelViewerWidget.obj 
src\UI\x64\Release\UI.iobj 
src\UI\x64\Release\vc143.pdb 
src\Workflow\x64\Release\Reconstructor.obj 
src\Workflow\x64\Release\Workflow.obj 
Test\TestBase\x64\Debug\TestBase.ilk 
Test\TestBase\x64\Debug\TestBase.obj 
Test\TestBase\x64\Debug\vc143.pdb 
Test\TestBase\x64\Release\TestBase.iobj 
Test\TestBase\x64\Release\TestBase.ipdb 
Test\TestBase\x64\Release\TestBase.obj 
Test\TestBase\x64\Release\vc143.pdb 
Test\TestEstimator\x64\Debug\TestEstimator.ilk 
Test\TestEstimator\x64\Debug\TestEstimator.obj 
Test\TestEstimator\x64\Debug\vc143.pdb 
Test\TestEstimator\x64\Release\TestEstimator.iobj 
Test\TestEstimator\x64\Release\TestEstimator.ipdb 
Test\TestFeature\10GPUTwoViewGeometry.bmp 
Test\TestFeature\1111.bmp 
Test\TestFeature\11GuideMatch_GPU.bmp 
Test\TestFeature\1OpenCV_CPU_3819.bmp 
Test\TestFeature\2VLFeat_CPU_6996.bmp 
Test\TestFeature\3Colmap_CPU_8700.bmp 
Test\TestFeature\4SIFTGPU_GPU_453.bmp 
Test\TestFeature\5Colmap_GPU_720.bmp 
Test\TestFeature\6matches.bmp 
Test\TestFeature\7twoViewGeometry.bmp 
Test\TestFeature\8guideMatch.bmp 
Test\TestFeature\9gpuMatch.bmp 
Test\TestFeature\output.bmp 
Test\TestFeature\x64\Debug\TestFeature.ilk 
Test\TestFeature\x64\Release\TestFeature.iobj 
Test\TestFeature\x64\Release\TestFeature.obj 
Test\TestGeometry\x64\Debug\TestGeometry.ilk 
Test\TestGeometry\x64\Debug\TestGeometry.obj 
Test\TestGeometry\x64\Debug\vc143.pdb 
Test\TestScene\x64\Debug\TestScene.ilk 
Test\TestScene\x64\Release\TestScene.iobj 
Test\TestScene\x64\Release\TestScene.ipdb 
Test\TestUI\x64\Debug\vc143.pdb 
Test\TestWorkflow\12.bmp 
Test\TestWorkflow\34.bmp 
Test\TestWorkflow\35.bmp 
Test\TestWorkflow\45.bmp 
Test\TestWorkflow\x64\Debug\TestWorkflow.ilk 
Test\TestWorkflow\x64\Release\TestWorkflow.iobj 
Test\TestWorkflow\x64\Release\TestWorkflow.ipdb 
Test\x64\Debug\Test.ilk 
Test\x64\Debug\vc143.pdb 
x64\Release\Base.lib 
x64\Release\Estimator.lib 
x64\Release\Feature.lib 
x64\Release\Geometry.lib 
x64\Release\Scene.lib 
x64\Release\SIFTGPU.lib 
x64\Release\UI.exe 
x64\Release\UI.pdb 
x64\Release\Workflow.lib 
/src/Feature/GlobalFeature/features
/src/UI/images
/src/UI/models/1
/src/UI/1.db
/src/UI/geometricVerificationTimes.txt
/src/UI/globalFeatureExtractionTimes.txt
/src/UI/globalFeatureRetrievalTimes.txt
/src/UI/Log.txt
/src/UI/SIFTExtractionTimes.txt
/src/UI/SIFTMatchingTimes.txt
